%hamburger-line {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  background: $color-hamburger;
  border-radius: 5px;
  height: 3px;
}
.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
  @include media-tablet {
    display: inline-block;
  }
  &::before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &::after{
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}
.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
}